{% from "bootstrap5/form.html" import render_form %}
{% block content %}
    {% include "header.html" %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../static/assets/img/register-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>Register</h1>
                        <span class="subheading">Start Contributing to the Blog!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="mb-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <!-- Rendering the registration form here -->
                    <form method="POST" novalidate>
                        {{ form.hidden_tag() }}
                        {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                    </form>
                    <!-- Flash message for email sent -->
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="alert alert-success" role="alert">
                                {{ messages[0] }}
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>

        <nav class="d-flex justify-content-around align-items-center bg-white border-top shadow-sm position-fixed w-100"
    style="bottom: 0; left: 0; padding: 10px 0; z-index: 1000;">

    <a href="{{ url_for('get_all_posts') }}" class="text-dark fs-4">
        <i class="fas fa-home"></i>
    </a>
</nav>
    </main>

    {% include "footer.html" %}
{% endblock %}
